{% extends 'base.html' %}

{% block title %}
<title xmlns="http://www.w3.org/1999/html">Dodac towar</title>
{% endblock %}

{% block content %}
<div class="container">
   <h1>Dodac towar</h1>
   <form method="post">
      <input type="text" class="form-control" name="title" id="title" placeholder="Wpisz nazwe"><br>
      <input type="number" class="form-control" name="price" id="price" placeholder="Wpisz cene"><br>
      <input type="text" class="form-control" name="text" id="text" placeholder="Wpisz opis"><br>
      <input type="text" class="form-control" name="model" id="model" placeholder="Wpisz model"><br>
      <input type="number" class="form-control" name="rozmiar" id="rozmair" placeholder="Wpisz rozmiar"><br>
      <input type="text" class="form-control" name="email" id="email" placeholder="Wpisz swoj email"><br>
      <input type="number" class="form-control" name="kontakt" id="kontakt" placeholder="Wpisz numer"><br>
      <a><input type="submit" class="shine-button" value="Отправить"></a>

   </form>
</div>
{% endblock %}

<!--      <p>-->
<!--         {% with messages = get_flashed_messages() %}-->
<!--            {% if messages %}-->
<!--               <ul>-->
<!--               {% for message in messages %}-->
<!--               <li>{{ message }}</li>>-->
<!--               {% endfor %}-->
<!--               </ul>-->
<!--            {% endif %}-->
<!--         {% endwith %}-->
<!--      {% if filename %}-->
<!--      <div style="padding:20px;">-->
<!--         <img src="{{ url_for('display_image', picture=picture) }}"-->
<!--      </div>-->
<!--      {% endif %}-->
<!--      </p>-->
<!--   <form method="post" action="/" enctype="multipart/form-data">-->
<!--      <dl>-->
<!--         <p>-->
<!--            <input type="file" name="file" class="form-control" autocomplete="off" required>-->
<!--         </p>-->
<!--      </dl>-->