{% extends 'base.html' %}
{% block title %}
   <title>Online sklep</title>
{% endblock %}

<script src="/highslide.js" type="text/javascript"></script>
<link href="/highslide.css" rel="stylesheet" property="stylesheet" />
<script type="text/javascript">
  hs.graphicsDir = '/graphics/';
</script>


{% block body %}
<body id="lol">
     <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
         <p class="fs4">New online second shop!</p>
         <p><img src="../static/img/ba4d178d48ad81c6a3464c0fa240.png" width="700" height="500" class="postsINindex"/></p>
         <p><img src="../static/img/728736_michael-jordan-great-dunk-wallpapers_4748x3822_h.jpg" width="700" height="500" class="postsINindex"/></p>
         <p><img src="../static/img/yabfemczseismf58dxra.png" width="700" height="500" class="postsINindex"/></p>
    </div>
</body>
{% endblock %}


