<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="../static/main.css">
    {% block title %}{% endblock %}
</head>

<body>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>


    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
  </symbol>
</svg>

<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="../static/img/unnamed.jpg" width="100" height="100" id="pict" >
        <span class="fs4">World Second Shop</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <p><a class="floating-button" href="/products">Towar</a></p><br />
        <p><a class="floating-button" href="#">Zniezki</a></p><br />
        <p><a class="floating-button" href="/contact">Contact</a></p><br />
        <p><a class="floating-button" href="#">Opinia</a></p><br />

        <p><a class="floating-button" href="/create">Dodac towar</a></p><br />
      </nav>
    </div>
  <style type="text/css">
    body {
        background: url('../static/img/Air-Jordan-1-High-OG-White-Court-Purple-5.jpg');
        background-size: 100%;
    }
    </style>
    <p><a class="floating-button" href="/login">Log In</a></p><br />
    <p><a class="floating-button" href="/register">Register</a></p><br />

{% block content %}
{% endblock %}

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
        <small class="d-block mb-3 text-muted">© 2022</small>
      </div>
      <div class="col-6 col-md">
        <h5 class="bigtext-footer">Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="text-footer" href="#">Cool stuff</a></li>
          <li class="mb-1"><a class="text-footer" href="#">Random feature</a></li>
          <li class="mb-1"><a class="text-footer" href="#">Team feature</a></li>
          <li class="mb-1"><a class="text-footer" href="#">Stuff for developers</a></li>
          <li class="mb-1"><a class="text-footer" href="#">Another one</a></li>
          <li class="mb-1"><a class="text-footer" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="bigtext-footer">Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="text-footer" href="#">Resource</a></li>
          <li class="mb-1"><a class="text-footer" href="#">Resource name</a></li>
          <li class="mb-1"><a class="text-footer" href="#">Another resource</a></li>
          <li class="mb-1"><a class="text-footer" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="bigtext-footer">About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="text-footer" href="#">Team</a></li>
          <li class="mb-1"><a class="text-footer" href="#">Locations</a></li>
          <li class="mb-1"><a class="text-footer" href="#">Privacy</a></li>
          <li class="mb-1"><a class="text-footer" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>

</body>
</html>