{% extends 'base.html' %}
{% block title %}
   <title>Online sklep</title>
{% endblock %}

<script src="/highslide.js" type="text/javascript"></script>
<link href="/highslide.css" rel="stylesheet" property="stylesheet" />
<script type="text/javascript">
  hs.graphicsDir = '/graphics/';
</script>


{% block content %}
     <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="fs4">Hi!</h1>

      <p class="fs4">Our products</p>
    </div>

<div class="container">
  <div class="card-deck mb-3 text-centre">
  {% for el in data %}
     <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">{{ el.title }}</h4>
      </div>
      <div class="card-body">
          <h1 class="card-title pricing-card-title">Model <small class="text-muted fw-light">{{ el.model }}</small></h1>


        <ul class="list-unstyled mt-3 mb-4">
            <li><h3 class="card-title pricing-card-title">Opis <small class="text-muted fw-light">{{ el.text }}</small></h3></li>
          <li><h3 class="card-title pricing-card-title">Rozmiar <small class="text-muted fw-light">{{ el.rozmiar }}</small></h3></li>
            <li><h3 class="card-title pricing-card-title">Email <small class="text-muted fw-light">{{ el.email }}</small></h3></li>
          <li><h3 class="card-title pricing-card-title">Kontakt <small class="text-muted fw-light">{{ el.kontakt }}</small></h3></li>
            <li><h3 class="card-title pricing-card-title">{{ el.price }}<small class="text-muted fw-light"> zlotych</small></h3></li>
            <li><h3 class="card-title pricing-card-title">{{ el.created_at }}<small class="text-muted fw-light"></small></h3></li>

<!--                <img class="lol" align="middle" src='../static//img/trampki.png' width="400" height="300">-->
            <style>
                .lol {
                    margin: 10px auto 20px;
                    display: block;
                }
            </style>

        </ul>
        <a href="/vieworder/{{ el.id }}" type="button" class="shine-button">Zobacz product</a></p>
        <a href="/products/{{ el.id }}/delete" type="button" class="shine-button">Удалить</a></p>
          <a href="/products/{{ el.id }}/update" type="button" class="shine-button">Редактировать</a></p>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

