{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
   <h1>Обновить товар</h1>
   <form method="post">
      <input type="text" class="form-control" value="{{ item.title }}" name="title" id="title" placeholder="Wpisz nazwe"><br>
      <input type="number" class="form-control" value="{{ item.price }}" name="price" id="price" placeholder="Wpisz cene"><br>
      <input type="text" class="form-control" value="{{ item.text }}" name="text" id="text" placeholder="Wpisz opis"><br>
      <input type="text" class="form-control" value="{{ item.model }}" name="model" id="model" placeholder="Wpisz model"><br>
      <input type="number" class="form-control" value="{{ item.rozmiar }}" name="rozmiar" id="rozmair" placeholder="Wpisz rozmiar"><br>
      <input type="text" class="form-control" value="{{ item.email }}" name="email" id="email" placeholder="Wpisz swoj email"><br>
      <input type="number" class="form-control" value="{{ item.kontakt }}" name="kontakt" id="kontakt" placeholder="Wpisz numer"><br>
      <p><button class="btn btn-success" type="submit">Обновить</button></p>
   </form>
</div>
{% endblock %}
